# 네트워크 및 환경 설정
NETWORK=very
NODE_ENV=deploy

# 데이터베이스 설정
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

# JWT 설정
JWT_SECRET=
ID_TOKEN_PUBLIC_KEY=
JWT_EXPIRES_IN=

# AWS 설정
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=

# VERY 네트워크 설정
RPC_VERY=
CHAIN_VERY_ID=
GAS_PRICE_VERY=
GAS_LIMIT_VERY=

# VERY 컨트랙트 주소
TRIVUS_EXP_1363_VERY=
POST_LIKE_SYSTEM_VERY=

TOKEN_NAME="Trivus EXP Token"
TOKEN_SYMBOL="EXP"

# sample users
SAMPLE_USER_ADDRESS=
TABLE_TENNIS_USER_ADDRESS=

# Private Keys (EOA - keep ADMIN != SIGNER)
ADMIN_PRIV_KEY=
SIGNER_PRIV_KEY=
TRUSTED_SIGNER_PRIV_KEY=
SIGNER_ADDRESS=

# Optional: Etherscan API for contract verification
POLYGONSCAN_API_KEY=

LOG_LEVEL=
BLOCK_GAS_LIMIT_VERY=
GAS_PRICE_VERY=
